@keyframes animation {
	from {
		transform: matrix3d(var(--matrix3d));
	}
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	font-size: 18px;
}

video {
	position: fixed;
	inset: 0;
	object-fit: cover;
	object-position: center;
	height: 100vh;
	width: 100vw;
	height: 100lvh;
	width: 100lvw;
}

dialog {
	--margin: 4rem;

	inset: auto 0 0 0;

	margin: var(--margin);
	padding: 2rem;
	width: calc(100% - 2 * --margin);
}

button {
	font: inherit;
}

/* STATE */

body.AR > main {
	padding: 3rem;
}

body:not(.ready) > main > div {
	visibility: hidden;
}

body:not(.AR) > main > div {
	padding: 2rem;
}

body.AR > main > div {
	padding: 1rem;
	background-color: rgb(255 255 255 / 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

body.ready > main > div {
	transform-origin: top left 0;
	animation-name: animation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/* ROTATIONS */
/* body.top > main > div {
	background-color: red;
}

body.bottom > main > div {
	background-color: yellow;
}

body.left > main > div {
	background-color: blue;
}

body.right > main > div {
	background-color: green;
} */
